body {
  font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji", sans-serif;
  margin: 0;
}

.main-hotprice {
  background: linear-gradient(to right, #5d6328, #c0d904);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  gap: 60px;
}

.main-hotprice_txt {
  color: white;
  display: flex;
  flex-direction: column;
}

.main-hotprice_txt_first {
  margin: 0;
  padding: 20px 0;
  font-size: 84px;
}

.main-hotprice_txt_second {
  font-size: 20px;
}

.main-hotprice_txt button {
  font-size: 23px;
  background: white;
  color: #5d6328;
  padding: 10px;
  width: 150px;
  border: 1px solid #2e3f0b;
  transition: 0.3s;
  cursor: pointer;
}

.main-hotprice_txt button:hover {
  background: #e4e4e4;
  transition: 0.3s;
}

.main-catalogue_categories {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 100px 0;
  overflow: scroll;
  scrollbar-width: none;
}

.main-catalogue_categories a {
  text-decoration: none;
  font-size: 22px;
  padding: 5px 20px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#sets {
  color: white;
  background: #5d6328;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-catalogue_categories a:hover {
  color: white;
  background: #5d6328;
  transition: 0.3s;
}

.main-catalogue_product-all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  gap: 40px;
}


.main-catalogue_product-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.main-catalogue_product-bottom p {
  font-size: 25px;
  padding-left: 10px;
}

@media (max-width: 960px) {
  .main-hotprice_txt_first {
    font-size: 40px;
  }

  .main-hotprice_txt_second {
    font-size: 15px;
  }

  .main-catalogue_product-all {
    grid-template-columns: 1fr 1fr;
  }

  #sets {
    margin-left: 50px;
  }

  .watermark {
    font-size: 15px;
  }

  .footer_ul {
    margin-right: 20px;
  }
}

@media (max-width: 460px) {
  .main-catalogue_product-all {
    grid-template-columns: 1fr;
  }

  .main-hotprice {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .header-up {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .header-nav_list {
    gap: 5px;
  }

  .footer_ul {
    flex-direction: column;
  }

  .main-hotprice {
    gap: 0;
  }

  #sets {
    margin-left: 470px;
  }

  .footer_ul {
    gap: 5px;
  }

  .catalogue_product-buttons {
    font-size: 20px;
  }
}
